* { font-style: var;
    box-sizing: border-box;
    
}

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;

    --color-red: #C40D2E;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
    

    /*site-wide styles*/
}

body {
    font-family: var(--font-sans);
}


.page-container {
    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {
    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
    
}



main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    grid-template-areas:
        "top"
        "bottom";
    max-width: 90%;
    
    margin: 0 auto;
    padding: 20px;
    

}

section {
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-soft-gray);
   
}

.top {
    
    grid-area: top;
    
}

.bottom {
    
    grid-area: bottom;
    
}


div {

    
}

form {
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}



.button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 0%;
    border: solid 2px var(--color-white);
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-red);
}

.button:hover {
    background-color: var(--color-soft-gray);
    color: var(--color-red);
    border: solid 2px var(--color-red);
    cursor: pointer;
}

.item-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 50px;
    padding: 15px 20px;
    
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    
    border: solid 1px rgb(216, 205, 205);
}

.form-field-group{
    width: 80%;
    height: 90%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    
    padding-bottom: 20px;
    border: solid 1px rgb(216, 205, 205);;
}



.payment-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    padding-bottom: 20px;
    border: solid 1px rgb(216, 205, 205);;
}

.checkout-final {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    border: solid 1px rgb(216, 205, 205);;
}

.contact, .order-summary, .my-basket {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
    
    border: solid 1px rgb(216, 205, 205);
    
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-accessories {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input {
    
    margin-top: 14px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border: solid 1px rgb(216, 205, 205);
    

}

input:focus {
    outline: none;
    outline: 2px solid var(--color-black);
    outline-offset: 1px;
}

a {
    font-weight: bold;
    color: var(--color-black);
    text-decoration: none;
    width: max-content;
} 
 .item-box a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-red);
}

hr {
    width:100%;
    color: black;
}

.red {
    color: var(--color-red);
}


@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "top top bottom"
            "top top bottom";
    }

    @media screen and (min-width: 1024px) {
        
    }

    .button {
        width: 50%;
        height: 60px;
    }

    input {
    width: 100%;
    height: 45px;
    
}
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "top top bottom"
            "top top bottom";
    }

    .button {
        width: 55%;
        height: 60px;
    }

    input {
    width: 100%;
    height: 55px;

    font-size: large;
    
}
}



