* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;

    --color-red: #C40D2E;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
    

    /*site-wide styles*/
}

body {
    font-family: var(--font-sans);
}


.page-container {
    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {
    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
}



main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "top"
        "bottom";
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: blueviolet;

}

section {
    margin-bottom: 20px;
    background-color: tomato;
    min-height: 200px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: top;
    background-color: rgb(54, 204, 24);

}

.bottom {
    display: flex;
    flex-direction: column;
    grid-area: bottom;
    background-color: yellow;
}


div {

    background-color: lightgray;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

input {
    width: 80%;
    height: 45px;
    align-self: center;
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    align-self: center;
    margin-top: 20px;
    border-radius: 0%;
    border: none;
    font-size: 20px;
    color: white;
    background-color: crimson;
}

.button:hover {
    background-color: white;
    color: crimson;
    cursor: pointer;
}

.item-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    background-color: lightblue;
    border: solid 1px gray;
}

.top-email-field {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-bottom: 20px;
    border: solid 1px gray;
}

.shipping-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-bottom: 20px;
    border: solid 1px gray;
}

.payment-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-bottom: 20px;
    border: solid 1px gray;
}

.checkout-final {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 20px;
    border: solid 1px gray;
}

.contact, .order-summary, .my-basket {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

input {
    
    margin-top: 10px;
    padding-left: 8px;


}

input[type="email"] {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    padding-left: 8px;
}

input[type="email"]::placeholder {
    color: gray;
    font-size: 16px;
    opacity: 1;

}

@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "top top bottom"
            "top top bottom";
    }

    .button {
        width: 40%;
         height: 60px;
        position: relative;
        right: 20%;
    }
}

a {
    text-decoration: none;
    width: max-content;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 10px 0;
}