* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;

    --color-red: #C40D2E;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
    

    /*site-wide styles*/
}

body {
    font-family: var(--font-sans);
}


.page-container {
    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {
    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
    
}



main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    grid-template-areas:
        "top"
        "bottom";
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: blueviolet;

}

section {
    margin-bottom: 20px;
    background-color: tomato;
   
}

.top {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: top;
    background-color: rgb(54, 204, 24);

}

.bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    grid-area: bottom;
    background-color: yellow;
}


div {

    background-color: lightgray;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

input {
    width: 100%;
    height: 45px;
    
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 0%;
    border: none;
    font-size: 20px;
    color: white;
    background-color: crimson;
}

.button:hover {
    background-color: white;
    color: crimson;
    cursor: pointer;
}

.item-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 50px;
    padding: 15px 20px;
    
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: lightblue;
    border: solid 1px gray;
}

.form-field-group{
    width: 80%;
    height: auto;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    background-color: lightgreen;
    padding-bottom: 20px;
    border: solid 1px gray;
}



.payment-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-bottom: 20px;
    border: solid 1px gray;
}

.checkout-final {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 20px;
    border: solid 1px gray;
}

.contact, .order-summary, .my-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-accessories {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input {
    
    margin-top: 14px;

    

}

input:focus {
    outline: none;
    outline: 2px solid var(--color-black);
    outline-offset: 1px;
}



@media (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "top top bottom"
            "top top bottom";
    }

    .button {
        width: 50%;
        height: 60px;
        
        right: 20%;
    }
}

a {
    font-weight: bold;
    color: var(--color-black);
    text-decoration: none;
    width: max-content;
} 
 .item-box a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-red);
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 10px 0;
}

.red {
    color: var(--color-red);
}

