* {
    box-sizing: border-box;
    border-radius: 4px;

}

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;
    --border-gray: solid 1px rgb(216, 205, 205);

    --color-red: #C40D2E;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;

    
}

body {

    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

header, footer {

border-radius: 0%;

}

.page-container {

    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {

    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 0.7em;

}

main {

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-areas:
        "top"
        "bottom";
    max-width: 100%;
    padding-top: 10px;
}

section {

    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white)
}

.top {

    grid-area: top;
    width: 100%;
}

.bottom {

    grid-area: bottom;
    width: 100%;
    align-self: start;
}


form {

    display: flex;
    width: 100%;
    gap: 15px;
    height: auto;
    flex-direction: column;
}

.red-button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border: solid 1px var(--color-white);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-red);
}

.red-button:hover {

    background-color: var(--color-white);
    color: var(--color-red);
    border: solid 1px var(--color-red);
    cursor: pointer;
}

.basket-button {

margin-bottom: 30px;

}

.item-box {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    min-height: 90px;
    padding: 0px 16px;
    margin-bottom: 20px;
    border: var(--border-gray);
    flex-wrap: wrap;
}

.form-field-group {

    width: 100%;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    flex-direction: column;
    padding-bottom: 20px;
    border: var(--border-gray);
}

.payment-form {

    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border: var(--border-gray);
}

.checkout-final {

    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: var(--border-gray);
}

.contact,
.order-summary,
.my-basket {

    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    
}

.my-basket {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.my-basket-border {

    border: var(--border-gray);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;

}

.contact {

    gap: 10px;
}

.sum-container {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.text {

    text-align: left;
}

.value {

    text-align: right;
}

.img-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-accessories {

    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.img-accessories img {

    width: 100%;
    height: auto;
    border-radius: 8px;
}

img {

    max-width: 100%;
    height: auto;
    display: block;
}

input,
select {

    width: 100%;
    max-width: 100%;
    height: 45px;
    padding: 10px;
    border: var(--border-gray);
    border-radius: 4px;
    font-size: 15px;
}

select {

    font-size: 15px;
}

input:focus {

    outline: 1px solid var(--color-black);
    outline-offset: 1px;
}

input:user-invalid {

    outline: 1px solid var(--color-red);
    outline-offset: 1px;
}

a {
    font-weight: bold;
    color: var(--color-black);
    text-decoration: none;
}

.item-box a,
.my-basket a, 
.my-basket-border a {

    display: inline;
    padding-bottom: 20px;
    padding-top: 20px;
}

.item-box a:hover,
.my-basket a:hover, 
.my-basket-border a:hover {

    text-decoration: underline;
    cursor: pointer;
    color: var(--color-red);
}

hr {

    width: 100%;
    color: var(--color-soft-gray);
    margin-top: 20px;
    margin-bottom: 60px;
}

.red {

    color: var(--color-red);
}


h1 {

    font-size: 28px;
    margin-bottom: 30px;
}



.checkout-header {

    text-align: center;
    margin-top: 40px;
}

h2 {

    font-size: 15px;
}

#cardpay-img { 

    width: 100%;
    max-width: 350px;
    height: auto;
    margin-top: 15px;
}





@media (min-width: 412px) {

    body {

        font-size: 17px;
    }

    main {

        padding: 20px
    }

    input,
    select {

        height: 55px;

    }

    h1 {

        font-size: 28px;

    }

    .checkout-header {

        text-align: center;
        margin-top: 56px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 18px;

    }

    .my-basket-border {

        padding: 35px;

    }
}


@media (min-width: 768px) {

    body {
        font-size: 18px;
    }

    main {

        grid-template-columns: 2fr 1fr;
        grid-template-areas:

            "top bottom";
        column-gap: 40px;
    }

    input,
    select {

        font-size: 17px;
    }

    .red-button {

        width: 40%;
        height: 60px;
    }

    .basket-button {

         width: 100%;
        height: 60px;

    
}       
  
  

    h1 {

        font-size: 32px;
    }

    h2 {

        font-size: 22px;

    }

    .my-basket-border {

        padding: 40px;

    }

    }


@media screen and (min-width: 1024px) {

    input,
    select {

        font-size: 22px;
    }

    body {

        font-size: 24px;
    }

    h1 {

        font-size: 38px;
        margin-bottom: 40px;
    }

    h2 {

        font-size: 24px;

    }

    .item-box {

        min-height: 110px;

}
    .form-field-group {

        padding-left: 30px;
        padding-right: 30px;
    }

}