.page-container {
    text-align: center;
 }


.page-container > * {
    margin-bottom: 30px;
}

.list-header {
    margin-top: 60px;
    margin-bottom: 50px;
  
    color:var(--color-black);

    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.3em;
}

/* styling of filter meny */

.filter-meny {

    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    margin-bottom: 40px;
}

.filter-meny > div {
    position: relative;
}

.filter-meny button {
    
    background-color:var(--color-black);
    color: var(--color-white);
    min-width: 140px;
    border: none;
}

#single-filter-button {
    display: none;
}


.search-field {
    margin-left: auto;
    flex-grow: 1;

    background-color: #F2F2F2;

    border: none;
    margin-right: 0;
    border-radius: 40px;
    padding: 12px 5px 10px 15px;

    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.7em;
}



/* styling for filter-dropdown menu */


.filter-options {

    list-style-type: none;
    padding : 0px;

    min-width: 100%;

    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;

    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
}

.filter-meny > div.active .filter-options {
    display: block;
}

.filter-option {
  display: flex;
  gap: 10px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-radius: 6px;
  min-width: 100%;
  align-items: center;
  background: #fff;
}


.filter-option:hover {
    background-color: #F2F2F2;
}

/* adds and styles arrow after text on filter-meny buttons */

.filter-meny > div button .arrow {
    margin-left: 5px;
    display: inline-block;
    transform: translateY(1px);
    transition: 0.3s; /* smooths rotation */
    

}

.filter-meny > div button .arrow::after {
    content: "\25BD"; /* adds a hollow downward triangle */
    color: white;
}

/* makes the arrow rotate upside down when meny is open (active class) */
.filter-meny > div.active button .arrow {
    transform: rotate(180deg) translateY(2px);

}






/* styling of featured area */


.featured {
    width: 100%;
    height: 280px;
    margin-bottom: 8%;
    position: relative;
}

.featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-text {
    position: absolute;
    top: 8%;
    left: 8%;

    background-color: var(--color-black);
    width: 190px;
    aspect-ratio: 1/1;
    border-radius: 50%; 
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 1em;
    color: var(--color-white);
    transition: background-color, color 1000ms;
}

.featured-text p {
    margin: 8px;
}

.center-in-circle {
    margin-top: 22px;
}

.featured-text:hover {
    background-color: var(--color-white);
    color: var(--color-red);
}


/* styling of product gallery */

.product-gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    column-gap: 5%;
    row-gap: 70px;
    justify-content: space-between;
}


.product-card {
    
    min-width: 250px;
    background-color: var(--color-soft-gray);
}


.card-header {
    font-size: 1.2em;
    font-weight: 430;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-description {
    
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 7px;
    margin-bottom: 1em;
}

 .card-price {
    color: var(--color-red);
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: bold;
 }

 /* to be restyled */
.product-card a { 

    visibility: hidden;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    margin-right: 0;
    margin-bottom: 7%;
    border-radius: 40px;
    padding: 8px 15px 6px 15px;

    font-family: "Overpass", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.7em;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.product-card a:hover {

    background-color: #ab2020f1;
    color: #ffffff;
}

 .product-image {
    overflow: hidden; /* ensures that zoomed image does not overflow outside of the card */
 }

 .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


    transition: transform 0.5s ease; /* adds smooth zoom effect */
 }


/* styling of product gallery when mouse is over a card */

.product-card:hover .product-image img {
    transform: scale(1.2);
}

.product-card:hover a {
    visibility: visible;
}


.more {
    grid-column: 1/-1;
    justify-content: center;
}

.more button {
    background-color: var(--color-black);
    color: var(--color-white);
    margin-right: 0;
    margin-bottom: 7%;
    border: none;
}


 @media screen and (max-width: 1330px) {

 .product-gallery {
    grid-template-columns: repeat(3,1fr);
}

 }

 @media screen and (max-width: 950px) {

 .product-gallery {
    grid-template-columns: repeat(2,1fr);
}

.filter-meny > div {
    display: none;
}

#single-filter-button {
    display: block;
    flex-grow: 1;
}

.filter-meny input {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
 }

 .featured {
    display: flex;
    flex-direction: column-reverse;
 }

.featured-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-radius: 0%;
    padding: 10px 0 5px 0;
 }

 .center-in-circle {
    margin-top: 0px;
}

 }

 @media screen and (max-width: 610px) {

 .product-gallery {
    grid-template-columns: repeat(1,1fr);
}

 }