

.container {
    border: 1px solid black;
    max-width: 90%;
    margin:  auto;
    text-align: center;
}

.list-header {
    margin-top: 60px;
    margin-bottom: 0px;
    font-family: "Overpass", sans-serif;
    letter-spacing: 0.4em;
    font-weight: 500;
}

.container > * {
    /* margin: 25px auto ; */
    margin-bottom: 30px;
}

/* styling of filter meny */

.filter-bar {

    /* border: 1px solid red; */
    height: 70px;

    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    /* padding-left: 1%;
    padding-right: 1%; */
    
}

.filter-bar button {
    
    
    border: none;

    background-color: #000000;
    color: #ffffff;
    border-radius: 40px;
    padding: 8px 15px 6px 17px;
    min-width: 140px;
    font-family: "Overpass", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.7em;
}

.dropdown {
    position: relative
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 6%;
    background-color: #f9f9f9;
    min-width: 100px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.filter-bar input {
    margin-left: auto;

    background-color: #F2F2F2;

    border: none;
    margin-right: 0;
    border-radius: 40px;
    padding: 8px 15px 6px 15px;
    min-width: 150px;

    font-family: "Overpass", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 0.7em;

}






.featured {
    min-height: 250px;
    border: 1px solid red;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    gap: 5%;
    justify-content: space-between;

}

.more {
    grid-column: 1/-1;
    justify-content: center;
    margin: auto;
}

.product-card {
    
    min-width: 200px;
    aspect-ratio: 1/1;

    border: 1px solid red;
}

.down-arrow{
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}