body {
  font-family: "Major Mono Display", sans-serif;
}


.product-top {                           /* På stora skärmar ska detta vara em kolumn. */
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: start;
    background-color: black;
}

.product-image img{                     /* Bilden skalar nu korrekt på alla skärmar. */
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    }

@media (min-width: 768px) {           /* När skärmen är mindre ska layouten bli två kolumner. */
    .product-top {
        grid-template-columns: 1fr 1fr;
    }
}

.main-image img {                       /* Huvudbilden fyller sin kolumn och skalar korrekt. */
  width: 100%;
  height: auto;
  display: block;
}

.thumbnails {                           /* Bilder ligger horisontellt och luft emellan.*/
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;            /*Mobil*/
}

.thumbnails img {                       /*A*/
   width: 100%;
   max-width: 60px;                     /*Mobil*/
   cursor: pointer;
   opacity: 0.8;
}

.thumbnails img:hover {                 /*B*/
  opacity: 1;                           /*A och B: pointer-muspekare med hover*/
}

@media (min-width: 768px) {
  .thumbnails {
    justify-content: center;
  }

  .thumbnails img {
    max-width: 60px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 0.5rem;  
  
}

@media (min-width: 768px) {
  .product-details {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

 .product-details div{
  background-color: #ebe6e6;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
}


.product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: red;
    padding: 2rem;
}

.price {
    color: black;
    background-color: red;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    width: 100px;        /* Fast bredd */
    height: 27px;        /* Fast höjd */
}

.description {
    color: white;
    padding: 2rem;
}

button {
  width: 150px;        /* Fast bredd */
  height: 50px;        /* Fast höjd */
  font-size: 18px;     /* Textstorlek */
  padding: 10px 20px;  /* Padding ökar också storlek */
  border-radius: 5px;
}

.utrustning {
    list-style: circle;
    list-style-position: inside;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 2rem;
}
@media (min-width: 768px) { 
    .utrustning {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pil {
    color: white
}

/* Söndag */


.wrapper2 {    
    max-width: 500px;
 }

.wrapper2 img {    
    width: 100%;
    height: auto;
    display: block;
 }

 @media (min-width: 768px) {
     .wrapper2 {
        max-width: 450px;
     }
 }