
/* CSS Variables */

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;

    --color-red: rgb(188, 36, 36);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
    
}

body { 
    margin: 0%;
}
    /*site-wide styles*/
header {
    padding-top: 20px;
}

header svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 25px;
    color: var(--color-white);
    cursor: pointer;
}

header svg:hover {
  transform: translateY(2px);
    transition: 0.3s; /* smooths rotation */
}

header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
    height: 130px;
}
 
.site-header
.company-name {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    display: inline-block;
}

 
.site-header
.company-name::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: #fdfcfc;
    margin: 0.4rem auto 0;
}
 
.site-header
.main-menu ul {
    list-style: none;
    /* list-style-position: inside; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* padding: 1rem; */
    margin:0;
    margin-bottom: 1rem;

}
 
.site-header
.main-menu ul li a {
    color: #fdfcfc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1em;
}
 
header > h1 {
    padding: 100px;
    margin: 20px;
}
 


body {
    font-family: var(--font-sans);
}


.page-container {
    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {
    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
}


