
/* CSS Variables */

:root {

    --font-sans: "Overpass", sans-serif;
    --page-container-width: 90%;
    --page-container-max-width: 1600px;

    --color-red: rgb(133, 20, 20);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
    

    /*site-wide styles*/
}

body {
    font-family: var(--font-sans);
}
.site-header {
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
    /* padding: 1rem 0; */
    height: 150px;
}

.site-header 
.company-name {
    font-size: 2.7rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.site-header 
.company-name::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: #fdfcfc;
    margin: 0.5rem auto 0;
}

.site-header 
.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    /* padding: 1rem; */
    margin-bottom: 1rem;
}

.site-header 
.main-menu ul li a {
    color: #fdfcfc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

header > h1 {
    padding: 0 ;
}


.page-container {
    width: var(--page-container-width);
    max-width: var(--page-container-max-width);
    margin: auto;
}

.button-rounded {
    border-radius: 40px;
    padding: 12px 15px 10px 17px;
    font-family: var(--font-sans);
    letter-spacing: 0.1em;
    font-weight: 300px;
    font-size: 0.7em;
}

.footer {
    background-color: rgb(133, 20, 20);
    color: #fdfcfc;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9 rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-col2 {
    font-size: 0.7rem;
    align-items: end;
    padding-top: 1rem;
}

.footer-col p {
    font-size: 0.9rem;
}

.footer-col h2 {
    font-size: 1.3rem;
}
