:root {
    --font-sans: "Overpass", sans-serif;

    --color-red: rgb(188, 36, 36);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-soft-gray: #F9F9F9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
}

.site-header {
    background-color: var(--color-red);
    color: var(--color-white);
    text-align: center;
    height: 150px;
    position: relative;
}

header svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 25px;
    fill: white;
    cursor: pointer;
}

.company-name {
    font-size: 2.7rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

.company-name::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: white;
    margin: 0.5rem auto 0;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer {
    background-color: var(--color-red);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer-col h2 {
    font-size: 1.3rem;
}

.footer-col p {
    font-size: 0.9rem;
}

.footer-col2 {
    font-size: 0.7rem;
    padding-top: 1rem;
}




.hero {
    height: 100vh;
    background: url("herobild.jpg") center/cover no-repeat;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.hero h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Overpass', sans-serif;
}


.timeline-section {
    background: #fdfcfc;
    padding: 2rem 0;
}


.timeline-line {
    height: 4px;
    width: 100%;
    background: rgb(133, 20, 20);
    margin: 2rem 0;
}


.timeline-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}


.timeline {
    display: flex;
}


.timeline-item {
    min-width: 100vw;
    padding: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    color: #0c0c0c;
}

.timeline-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 4px;
    height: 80%;
    background: rgb(133, 20, 20);
    margin-left: 2rem;
}

.text {
    width: 40%;
}

.text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}


.images img {
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


